/** theme ****************************************/
/*************************************************/
/*************************************************/
.site-content article {
     border-bottom: none !important;
}
html {
     margin: 0px !important;
}
#main {
     padding: 0px !important;
     margin: auto !important;
     width: 85% !important;
}
#content {
     margin: 0px !important;
}
#primary {
     visibility: hidden;
     display: none;
}
#wrapper {
     margin: 0px !important;
     background-color: #fff !important;
     padding: 0px !important;
     width: 100% !important;
}
#wpadminbar{
     visibility: hidden;
     display: none;
}
#secondary,
#masthead,
#colophon,
#comments,
.entry-meta {
     display: none;
}

.site-content {
     float: left;
     width: 100%;
}

.site {
}
/*************************************************/




/** spred viewer *********************************/
/*************************************************/
/*************************************************/
.layout-controls {
}
.layout-rows {
     width: 100% !important;
}
/*************************************************/

.survey {
     font-family: American Typewriter;
     font-size: 1.3em;
}

.question-output {
     font-size: 1.35em;
     line-height: 1.575 !important;
     margin-bottom: 5px;
     width: 100% !important;
     text-align: justify !important;
}

.choice-output img {
     height: 5em;
}

.choice-output {
     font-size: 1.5em;
     line-height: 1.3 !important;
     margin-bottom: 5px;
}

.yesno-input {
     font-size: 1.5em;
     line-height: 1.3 !important;
     margin-bottom: 5px;
}

.answer-input input {
     margin-top: 23px;
     margin-bottom: 23px;
     padding: 19px;
     font-size: 1.75em !important;
     border-radius: 9px;
     background-color: #defede !important;
     width: 90%;
}
.answer-input input:focus {
     outline: none !important;
}

.survey-messages {
     background-color: white;
     margin-bottom: 12px;
     margin-right: 36px;
     font-size: 0.5em;
}

.survey-list {
     font-size: 0.5em;
     font-weight: bold;
}

.survey-thread {
     font-size: 0.5em;
     line-height: 2em;
}

a, a:link{
     font-size: 0.85em;
     color: #000000;
     text-decoration: none;
}
a:hover {
     background-color: #defede !important;
}

.opinion-row {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-conent: center;
}

.opinion-cell {
     width: 100%;
     background-color: #ffccdd;
     text-align: center;
     margin: 1px;
}

.opinion-cell a {
     text-decoration: none;
}

/** upload '**************************************/
/*************************************************/
/*************************************************/
.layout-controls {
}

.drag {
     background-color: pink;
}

.files {
     visibility: hidden;
     display: none;
}

.fake {
     position: relative;
     left: 0px;
     top: 0px;
     margin: 12px 0px 12px 0px;
     width: 98%;
     height: 35px;
     padding: 5px;
     border: 1px dotted #cedece;
     font-size: 0.5em;
}

.uploaded-asset {
     height: 51px; 
}

.survey-assets {
     margin: 12px 0px 12px 0px;
     width: 100%;
}

.short-text {
     font-size: 3em;
}

.short-text textarea {
     width: 100%;
     height: 3em;
}

.short-text input[type=submit] {
     font-size: 0.75em;
}

.picture-choice img {
     max-width: 250px;
}


