.thread-img {

}

.group-title {
     font-size: 1.15em !important;
     font-style: italic !important;
     color: #d599e2 !important;
     font-weight: bold;
}

.node-field {
     font-style: italic !important; 
     padding-left: 23px !important;
}
